.footer {
  padding: 20px 0 20px;
}

.footer-wrapper,
.footer-info {
  display: none;
}

@include rm(1024) {
  .footer {
    padding: 100px 0 20px;
  }


.footer-info {
  display: flex;
  justify-content: space-between;
  background-color: rgba(204, 204, 204, 0.2);
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 40px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.footer__operators-wrapper {
  display: flex;
}

.footer__lock {
  position: relative;
  padding-left: 28px;
  line-height: 24px;
  &:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 21px;
    left: 0;
    top: 0;
    background-image: url("../img/lock.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.footer__operators-wrapper {
  margin-bottom: 20px;
}

.footer__operators__online {
  margin-right: 32px;
}

.footer__operators__online,
.footer__operators__busy {
  position: relative;
  padding-left: 38px;
}


.footer__operators__online:before,
.footer__operators__busy:before {
  position: absolute;
  content: "";
  width: 27px;
  height: 27px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.footer__operators__online:before {
  background-image: url("../img/operator-online.png");
  background-repeat: no-repeat;
  background-position: center;
}

.footer__operators__busy:before {
  background-image: url("../img/operator-busy.png");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-info__payment__title {
  margin-right: 15px;
}

.footer-info__payment__list {
  display: flex;
  align-items: center;
}

.footer-info__payment__item {
  text-align: center;
}
.footer-info__payment__item:not(:last-of-type) {
  margin-right: 20px;
}

.footer-info__payment__img {
  margin: 0 auto 13px;
}


.footer-info__delivery {
  display: flex;
  align-items: center;
}

.footer-info__delivery__item {
  display: flex;
  align-items: center;
}

.footer-info__delivery__item:not(:last-of-type) {
  padding-right: 20px;
  border-right: 1px solid #d8d6d6;
  margin-right: 20px;
}

.footer-info__delivery__title {
  margin-right: 15px;
}

.footer-info__delivery__img {
  margin-right: 18px;
}
}

@include rm(1220) {
  .footer {
    padding: 217px 0 20px;
  }

  .footer-info__payment__item:not(:last-of-type) {
    margin-right: 40px;
  }

  .footer-info {
    padding: 30px 70px 30px 30px;
  }

  .footer-info__delivery__title {
    margin-right: 30px;
  }

  .footer-info__payment__title {
    margin-right: 40px;
  }
}
