.form {
    width: 270px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    &__header {
        background-color: $green;
        padding: 10px 25px;
        text-align: center;
    }
    .header__text {
        font-weight: 500;
        margin-bottom: 7px;
        color: white;
        display: inline-block;
    }
    .timer {
        margin: 0 auto;
    }
    &__body {
        text-align: center;
        padding: 20px 25px;
        border-bottom: 1px solid #aeaeae;;
    }
    &__attention {
        font-size: 28px;
        margin-bottom: 8px;
    }
    &__today {
        font-weight: 500;
        margin-bottom: 10px;
    }
    &__date {
        background-color: $pink;
        border-radius: 3px;
        color: white;
        padding: 6px;
        display: inline-block;
        text-transform: lowercase;
    }
    &__price {
        display: flex;
        justify-content: center;
        align-items: baseline;
        margin-bottom: 20px;
    }
    &__order {
        font-size: 15px;
        color: #222222;
    }
    &__btn {
        margin-bottom: 15px;
    }
    .price {
        &__text {
            font-weight: 500;
            letter-spacing: -0.8px;
            margin-right: 5px;
        }
        &__num {
            font-size: 40px;
            display: inline-block;
            margin-right: 5px;
        }
        &__currency {
            font-size: 18px;
        }
        &__star {
            font-size: 18px;
            font-weight: 700;
        }
    }
    &__footer {
        padding: 15px 10px;
        text-align: center;
        font-weight: 500;
    }
    &__lastpack {
        color: white;
        padding: 5px;
        background-color: $green;
        border-radius: 3px;
        margin: 0 5px;
    }
}
.input-wrapper {
    margin-bottom: 15px;
    position: relative;
    &--name {
        &::before {
            content: "";
            position: absolute;
            width: 19px;
            height: 23px;
            background-image: url(../img/name.png);
            background-size: cover;
            top: 50%;
            transform: translateY(-50%);
            left: 15px;
        }
    }
    &--phone {
        &::before {
            content: "";
            position: absolute;
            width: 23px;
            height: 28px;
            background-image: url(../img/phone.png);
            background-size: cover;
            top: 50%;
            transform: translateY(-50%);
            left: 15px;
        }
    }
}
.input {
    box-shadow: inset 2px 3px 5px rgba(34, 35, 39, 0.09);
    border-radius: 5px;
    border: 1px solid #dedddd;
    padding: 20px 5px 20px 50px;
    font-size: 15px;
    width: 100%;
}
::placeholder {
    color: rgba(102, 102, 102, 0.6);
}