section.block.advantages
  .container
    h2.advantages-title.title КАК РАБОТАЕТ
      span.text-pink
        |  Uni
      span.text-green Herb
    .advantages__wrapper
      .advantages__prod
        picture
          source(srcset="img/prod-big.webp", type="image/webp")
          img.advantages__prod__img(src="img/prod-big.png" alt="product" loading="lazy")
      ul.advantages__list
        li.advantages__item
          .advantages__circle
          p.advantages__text Повышает иммунитет растений к грибковым заболеваниям.

        li.advantages__item
          .advantages__circle
          p.advantages__text Защищает корневую систему от паразитов и болезней, способствует быстрому росту и развитию системы.

        li.advantages__item
          .advantages__circle
          p.advantages__text Активизирует защитные функции и устойчивость растений к фитопатогенным микроорганизмам, обитающим в почве, на поверхности семян и листьев.




