footer.footer
  .container
    .footer-wrapper
      p.footer__lock Конфиденциальность гарантирована.
        br
        | Оплата при получении

      .footer__operators
        .footer__operators-wrapper
            p.footer__operators__online
              span.text-bold.footer__count--online 42
              |  оператора онлайн

            p.footer__operators__busy
              span.text-bold.footer__count--offline 24
              |  разговаривают
        p Круглосуточно без выходных — заказывайте!
    .footer-info
      .footer-info__payment
        .footer-info__payment__list
          h3.footer-info__payment__title.text-bold Оплата:
          .footer-info__payment__item
            img.footer-info__payment__img(src="img/Mastercard-logo.png" alt="card" loading="lazy")
            span Mastercard
          .footer-info__payment__item
            picture
              source(srcset="img/visa-logo.webp", type="image/webp")
              img.footer-info__payment__img(src="img/visa-logo.png" alt="visa" loading="lazy")
            span Visa
          .footer-info__payment__item
            picture
              source(srcset="img/cash-logo.webp", type="image/webp")
              img.footer-info__payment__img(src="img/cash-logo.png" alt="cash" loading="lazy")
            span Наличными



      .footer-info__delivery
        h3.footer-info__delivery__title.text-bold Доставка:
        .footer-info__delivery__item
          picture
            source(srcset="img/delivery-car.webp", type="image/webp")
            img.footer-info__delivery__img(src="img/delivery-car.png" alt="car")
          span Доставка курьером

        .footer-info__delivery__item
          picture
            source(srcset="img/post.webp", type="image/webp")
            img.footer-info__delivery__img(src="img/post.png" alt="post")
          span Почта России

    .create_rom_footer(data-color_text='#666666;' data-color_link='#666666' data-color_logo='#cccccc')


