.header
    .container
        .header__logo
            img(src="img/logo.png" alt="logo")
        ul.header__list
            .list__item
                .list__img
                    picture
                        source(srcset="img/header1.webp", type="image/webp")
                        img(src="img/header1.png" alt="icon")
                span.list__text Выбор садоводов и&nbsp;дачников
            .list__item
                .list__img
                    picture
                        source(srcset="img/header2.webp", type="image/webp")
                        img(src="img/header2.png" alt="icon")
                span.list__text Безопасен для&nbsp;человека
            .list__item
                .list__img
                    picture
                        source(srcset="img/header3.webp", type="image/webp")
                        img(src="img/header3.png" alt="icon")
                span.list__text 100% 
                    br
                    | эффективен
            .list__item
                .list__img
                    picture
                        source(srcset="img/header4.webp", type="image/webp")
                        img(src="img/header4.png" alt="icon")
                span.list__text Протестирован и&nbsp;сертифицирован