section.block.instruction
  .container
    h2.title.instruction__title Пользоваться
      span.text-pink
        |  Uni
      span.text-green Herb
      |  просто и&nbsp;удобно

    picture
      source(srcset="img/prod-big.webp", type="image/webp")
      img.instruction__img(src="img/prod-big.jpg" alt="product" loading="lazy")


    .instruction-wrapper
      .instruction__first
        .instruction__first__circle
          picture
            source(srcset="img/instruction-first.webp", type="image/webp")
            img.result__first__img(src="img/instruction-first.png" alt="instruction" loading="lazy")
        p.instruction__first__text.text-bold Развести концентрат
          br
          | с водой
      .instruction__product
        picture
          source(srcset="img/prod-big.webp", type="image/webp")
          img.result__product__img(src="img/prod-big.png" alt="product" loading="lazy")
      .instruction__second
        .instruction__second__circle
          picture
            source(srcset="img/instruction-second.webp", type="image/webp")
            img.result__second__img(src="img/instruction-second.png" alt="instruction" loading="lazy")
        p.instruction__second__text.text-bold Обработать согласно инструкции грунт, семена, растения или место обитания вредителей

