section.block.order
    .container
        h2.title.order__title Как заказать
            span.text-pink UNI
            span.text-green HERB
            | ?
        .order__block
            .order__item
                picture
                    source(srcset="img/order1.webp", type="image/webp")
                    img(src="img/order1.png" alt="order" loading="lazy").order__img
                h3.order__subtitle.order__subtitle-1.text-bold Заполните форму заказа
                p.order__text.order__text-1 Укажите только свое имя и номер телефона
            .order__item
                picture
                    source(srcset="img/order2.webp", type="image/webp")
                    img(src="img/order2.png" alt="order" loading="lazy").order__img
                h3.order__subtitle.order__subtitle-2.text-bold Ответьте на звонок оператора
                p.order__text.order__text-2 Он уточнит ваши адресные данные и&nbsp;ответит на все вопросы
            .order__item
                picture
                    source(srcset="img/order3.webp", type="image/webp")
                    img(src="img/order3.png" alt="order" loading="lazy").order__img
                h3.order__subtitle.order__subtitle-3.text-bold Оплатите после получения
                p.order__text.order__text-3 Предоплата не&nbsp;требуется
            .order__item
                picture
                    source(srcset="img/order4.webp", type="image/webp")
                    img(src="img/order4.png" alt="order").order__img.text-bold
                h3.order__subtitle.order__subtitle-4.text-bold Наслаждайтесь урожаем
                p.order__text.order__text-4 Забудьте о болезнях растений
