section.block.permins
    .container
        h2.title.permins__title
            span.text-pink Uni
            span.text-green Herb
            | - средство, которое работает!
        h2.permins__subtitle.text-bold Комплекс, который защитит огород от&nbsp;назойливых вредителей
        .permins__content
            .permins__item
                .permins__circle
                    picture
                        source(srcset="img/permins1-1.webp", type="image/webp")
                        img(src="img/permins1-1.png" alt="permins" loading="lazy").permins__circle__img
                picture
                    source(srcset="img/permins1.webp", type="image/webp")
                    img(src="img/permins1.jpg" alt="permins" loading="lazy").permins__img
                .permins__text.text-bold Колорадский жук
            .permins__item
                .permins__circle
                    picture
                        source(srcset="img/permins2-2.webp", type="image/webp")
                        img(src="img/permins2-2.png" alt="permins" loading="lazy").permins__circle__img
                picture
                    source(srcset="img/permins2.webp", type="image/webp")
                    img(src="img/permins2.jpg" alt="permins" loading="lazy").permins__img
                .permins__text.text-bold Тля
            .permins__item
                .permins__circle
                    picture
                        source(srcset="img/permins3-3.webp", type="image/webp")
                        img(src="img/permins3-3.png" alt="permins" loading="lazy").permins__circle__img
                picture
                    source(srcset="img/permins3.webp", type="image/webp")
                    img(src="img/permins3.jpg" alt="permins" loading="lazy").permins__img
                .permins__text.text-bold Слизни
            .permins__item
                .permins__circle
                    picture
                        source(srcset="img/permins4-4.webp", type="image/webp")
                        img(src="img/permins4-4.png" alt="permins" loading="lazy").permins__circle__img
                picture
                    source(srcset="img/permins4.webp", type="image/webp")
                    img(src="img/permins4.jpg" alt="permins" loading="lazy").permins__img
                .permins__text.text-bold Капустная совка
            .permins__item
                .permins__circle
                    picture
                        source(srcset="img/permins5-5.webp", type="image/webp")
                        img(src="img/permins5-5.png" alt="permins" loading="lazy").permins__circle__img
                picture
                    source(srcset="img/permins5.webp", type="image/webp")
                    img(src="img/permins5.jpg" alt="permins" loading="lazy").permins__img
                .permins__text.text-bold Медведка
        .permins__info.text-bold
            span.text-red + более 400&nbsp;видов
            | вредителей не смогут устоять перед этим&nbsp;средством!
