section.block.professional
    .container
        h2.title.professional__title ПРОФЕССИОНАЛЬНЫЕ САДОВОДЫ ВЫБИРАЮТ
            span.text-pink UNI
            span.text-green HERB
        .professional__block
            .professional__content
                .professional__img
                    pictire
                        source(media="(max-width:479px)" srcset="img/professional-mob.png")
                        source(type="image/webp" srcset="img/professional.webp")
                        img(src="img/professional.png" alt="professional" loading="lazy")
                .professional__info
                    .info__text
                        span.professional__name.text-bold Федор Никифоров
                        br
                        span.professional__experience садовод профессионал,
                            br
                            | стаж 38&nbsp;лет
                    .info__img
                        img(src="img/sign.png" alt="signature" loading="lazy").info__sign
                        img(src="img/approve.png" alt="approve" loading="lazy").info__approve
            .professional__text
                p.professional__text-first.text-bold Вредители наносят непоправимый вред моим деревьям, растениям и&nbsp;огороду.
                p.professional__text-second В прошлом году они начали со&nbsp;скоростью света размножаться на моей дачном участке. Я&nbsp;знаю много различный средств,
                    | и&nbsp;большинство из них хорошо работают, но все-таки они не&nbsp;безопасны для здоровья человека и&nbsp;растения.
                    span.text-bold Поэтому для меня важно, чтобы средство было органическим, таким и&nbsp;есть Uni&nbsp;Herb. Он совершенно безопасен для людей и&nbsp;растений.
                p.professional__text-third За всю мою практику, это
                    span.text-bold
                      |  первое средство, которое так быстро помогло.
                    |  Я избавился от колорадских жуков и&nbsp;тли в&nbsp;огороде, от&nbsp;яблонной моли в&nbsp;саду, а ещё и от муравьев в&nbsp;доме. Теперь все мои и&nbsp;друзья, и&nbsp;коллеги пользуются только UniHerb.
