section.block.result
  .container
    h2.title.result__title Теперь ваши грядки будут здоровыми и&nbsp;урожайными!

    .result-wrapper
      .result__before
        .result__before__circle
        picture
          source(srcset="img/result-before1.webp", type="image/webp")
          img.result__before__img(src="img/result-before1.jpg" alt="before" loading="lazy")
        p.result__before__text.text-bold до
      .result__after
        .result__after__circle
        picture
          source(srcset="img/result-after1.webp", type="image/webp")
          img.result__after__img(src="img/result-after1.jpg" alt="after" loading="lazy")
        p.result__after__text.text-bold после


    .result-wrapper
      .result__before
        .result__before__circle
        picture
          source(srcset="img/result-before2.webp", type="image/webp")
          img.result__before__img(src="img/result-before2.jpg" alt="before" loading="lazy")
        p.result__before__text.text-bold до
      .result__after
        .result__after__circle
        picture
          source(srcset="img/result-after2.webp", type="image/webp")
          img.result__after__img(src="img/result-after2.jpg" alt="after" loading="lazy")
        p.result__after__text.text-bold после


    .result-wrapper
      .result__before
        .result__before__circle
        picture
          source(srcset="img/result-before3.webp", type="image/webp")
          img.result__before__img(src="img/result-before3.jpg" alt="before" loading="lazy")
        p.result__before__text.text-bold до
      .result__after
        .result__after__circle
        picture
          source(srcset="img/result-after3.webp", type="image/webp")
          img.result__after__img(src="img/result-after3.jpg" alt="after" loading="lazy")
        p.result__after__text.text-bold после



