section.block.reviews
    .container
        h2.title.reviews__title ОТЗЫВЫ ПОКУПАТЕЛЕЙ, КОТОРЫЕ
            br
            | УЖЕ ОЦЕНИЛИ
            span.text-pink
              |  Uni
            span.text-green herb
        .reviews__wrapper
            .reviews__block
                .reviews__item
                    picture
                        source(type="image/webp" srcset="img/review1.webp")
                        img(src="img/review1.png" alt="customer" loading="lazy").reviews__photo
                    span.reviews__name Алексей Миронов, 63&nbsp;года
                    br
                    span.reviews__city г. Волгоград
                    p.reviews__text  Несколько лет подряд не мог малину развести. Все ходил возле нее, трудился,
                        | а толку не было — все муравьи съедали! Как только начал пользоваться UniHerb, так моя малинка и расцвела. В прошлом году наконец-то собрал первый урожай. Мы с женой довольны, а внуки еще больше!
                    .reviews__footer
                        span.reviews__date.date-8
                        .reviews__rating
                            span.rating-text Оценка
                            span.rating-stars.rating-stars--full
                .reviews__item
                    picture
                        source(type="image/webp" srcset="img/review2.webp")
                        img(src="img/review2.png" alt="customer" loading="lazy").reviews__photo
                    span.reviews__name Марина Киреева, 59&nbsp;лет
                    br
                    span.reviews__city г. Сочи
                    p.reviews__text  Мне участок мой сложно давался раньше, потому как вырастить там что-то надо было много труда вложить. А с тех пор, как
                        | я UniHerb пользуюсь, жизнь стала проще. Все овощи и ягоды растут, как
                        | на дрожжах. Я в три раза больше теперь овощей собираю и это при том приезжаю на участок только на выходные.
                    .reviews__footer
                        span.reviews__date.date-5
                        .reviews__rating
                            span.rating-text Оценка
                            span.rating-stars.rating-stars--empty
                .reviews__item
                    picture
                        source(type="image/webp" srcset="img/review3.webp")
                        img(src="img/review3.png" alt="customer" loading="lazy").reviews__photo
                    span.reviews__name Татьяна Фролова, 61&nbsp;год
                    br
                    span.reviews__city г. Красноярск
                    p.reviews__text Очень удобно пользоваться, справится даже начинающий огородник. Долго хранится, упаковка не занимает много места. Я на огороде Uni Herb пользуюсь. Все растет просто замечательно. Даже не ожидала таких урожаев.
                    .reviews__footer
                        span.reviews__date.date-13
                        .reviews__rating
                            span.rating-text Оценка
                            span.rating-stars.rating-stars--empty
                .reviews__item
                    picture
                        source(type="image/webp" srcset="img/review4.webp")
                        img(src="img/review4.png" alt="customer" loading="lazy").reviews__photo
                    span.reviews__name Виктор Ермолов, 67&nbsp;лет
                    br
                    span.reviews__city г. Пенза
                    p.reviews__text  Uniherb купил по совету соседа, который им свой огород обрабатывает. Я купил сразу же, потому как разница, сколько у него картошки и у меня — огромная. Моя еще не успеет вылезти, как ее уже всю съедают колорадские жуки. Трави-не трави — бестолку! А с этим средством такой урожай был, что мы даже решили немного продать.
                    .reviews__footer
                        span.reviews__date.date-11
                        .reviews__rating
                            span.rating-text Оценка
                            span.rating-stars.rating-stars--full
                .reviews__item
                    picture
                        source(type="image/webp" srcset="img/review5.webp")
                        img(src="img/review5.png" alt="customer" loading="lazy").reviews__photo
                    span.reviews__name Екатерина Волкова, 56&nbsp;лет
                    br
                    span.reviews__city г. Москва
                    p.reviews__text  Опыта у меня мало в огородничестве. Проблема была в том, что не все семена прорастали из-за паразитов. Но после того, как стала использовать Uni Herb, все стало идеально. Помидоров, огурцов, баклажанов у меня теперь много. Урожай красота!
                    .reviews__footer
                        span.reviews__date.date-5
                        .reviews__rating
                            span.rating-text Оценка
                            span.rating-stars.rating-stars--full
                .reviews__item
                    picture
                        source(type="image/webp" srcset="img/review6.webp")
                        img(src="img/review6.png" alt="customer" loading="lazy").reviews__photo
                    span.reviews__name Вероника Корчнова, 65&nbsp;лет
                    br
                    span.reviews__city г. Воркута
                    p.reviews__text  Я благодаря UNIHERB смогла на ремонт крыши заработать. Так как овощей стало очень много, все они вкусные, полезные. Ко мне покупатели из города приезжают и платят очень хорошо. И консервации и свежее, все раскупают. Даже не думала, что мой крохотный огород на такое способен и главное, что все время хорошо растут овощи.
                    .reviews__footer
                        span.reviews__date.date-8
                        .reviews__rating
                            span.rating-text Оценка
                            span.rating-stars.rating-stars--full
                .reviews__item
                    picture
                        source(type="image/webp" srcset="img/review7.webp")
                        img(src="img/review7.png" alt="customer" loading="lazy").reviews__photo
                    span.reviews__name Маргарита Кочеткова, 60&nbsp;лет
                    br
                    span.reviews__city г. Ставрополь
                    p.reviews__text  Несколько лет подряд мой прекрасный урожай лука съедала какая-то мушка. Чего я только не пробовала, а от нее ничего не помогало — полностью все сгнивало после сбора примерно за месяц… Благо вычитала в одном журнале про Uniherb. Обрабатывала луковицы этим раствором перед посадкой и от мушек следа не осталось!
                    .reviews__footer
                        span.reviews__date.date-19
                        .reviews__rating
                            span.rating-text Оценка
                            span.rating-stars.rating-stars--full
                .reviews__item
                    picture
                        source(type="image/webp" srcset="img/review8.webp")
                        img(src="img/review8.png" alt="customer" loading="lazy").reviews__photo
                    span.reviews__name Олег Федорович, 59&nbsp;лет
                    br
                    span.reviews__city г. Долгопрудный
                    p.reviews__text  Заказал Uniherb просто из любопытства. Обработал грядки некоторые, чтобы сравнить, какие удобрение лучше сработает. В итоге, грядки помидор на Uniherb дали плодов в три раза больше, чем остальные. Средство сработало, ну я и заказал себе потом на для остальных растений. Доволен, как слон.
                    .reviews__footer
                        span.reviews__date.date-10
                        .reviews__rating
                            span.rating-text Оценка
                            span.rating-stars.rating-stars--full
                .reviews__item
                    picture
                        source(type="image/webp" srcset="img/review9.webp")
                        img(src="img/review9.png" alt="customer" loading="lazy").reviews__photo
                    span.reviews__name Надежда Миронова, 64&nbsp;года
                    br
                    span.reviews__city г. Сызрань
                    p.reviews__text Я считаю, что такое средство, как UniHerb, должно быть у каждого дачника. У нас обстановка такая, что надеяться нужно только на себя. Запастись консервацией, свежими овощами, картошечкой, и никакой кризис угрожать не будет. А UniHerb в этом помощник надежный — вложенный труд не пропадает зря.
                    .reviews__footer
                        span.reviews__date.date-17
                        .reviews__rating
                            span.rating-text Оценка
                            span.rating-stars.rating-stars--full
                .reviews__item
                    picture
                        source(type="image/webp" srcset="img/review10.webp")
                        img(src="img/review10.png" alt="customer" loading="lazy").reviews__photo
                    span.reviews__name Алина Смирнова, 37&nbsp;лет
                    br
                    span.reviews__city г. Кострома
                    p.reviews__text  Запустили огород, развелось и сорняков и паразитов просто тьма. Если сорняки быстро убрали, то от паразитов не могли избавиться. Потом нам посоветовали Uni Herb. Это средство и сэкономило нам кучу сил и денег. Так как паразитов, как рукой сняло. Наш город теперь наш кормилец.
                    .reviews__footer
                        span.reviews__date.date-20
                        .reviews__rating
                            span.rating-text Оценка
                            span.rating-stars.rating-stars--full
            .reviews__arrows
                .reviews-left
                .reviews-right
        .reviews__subtitle.text-bold Вы использовали UniHerb?
            br
            | Помогите другим убедится в&nbsp;его&nbsp;эффективности
        .button.reviews__button.toggle-form-btn Оставить отзыв
        .reviews__cta.reviews-cta
            form.reviews__form.reviews-form
                .reviews-form__row
                    .reviews-form__field-wrap.reviews-form__field-wrap--name.reviews-form__input-text
                        input.reviews-form__input.reviews-form__input-name.reviews-form__field.reviews-input.reviews-input-text(type="text", placeholder="Имя")
                        span.reviews-form__error Используйте символы от а до я и от a до z
                    .reviews-form__field-wrap.reviews-form__field-wrap--region.reviews-form__input-text
                        input.reviews-form__input.reviews-form__input-region.reviews-form__field.reviews-input.reviews-input-text(type="text", placeholder="Регион")
                        span.reviews-form__error Используйте символы от а до я и от a до z
                    .reviews-form__field-wrap.reviews-form__field-wrap--age.reviews-form__wrap-num
                        input.reviews-form__input.reviews-form__field.input-num.input-age.reviews-input(type="number", placeholder="Возраст", min="0")
                        span.reviews-form__error Введите значение от 18 до 90
                    .reviews-form__intrenal-col
                        label.reviews-form__file(for="file")
                            span.reviews-form__file-img
                                span.reviews-form__checkmark-icon
                                    svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24")
                                        path(fill="#0f0", d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z")
                            span.reviews-form__file-text Загрузить ваше фото
                        input.visually-hidden.input-file.reviews-input(id="file", type="file" accept="image/*")
                    .feedback__rating
                        span.feedback__rating-text Ваша оценка
                        span.feedback__star(data-value="1")
                        span.feedback__star(data-value="2")
                        span.feedback__star(data-value="3")
                        span.feedback__star(data-value="4")
                        span.feedback__star(data-value="5")
                    .reviews-form__field-wrap.reviews-form__field-wrap--message.reviews-form__input-text
                        textarea.reviews-form__textarea.reviews-input-text.reviews-form__field.reviews-input(name="review", placeholder="Сообщение")
                        span.reviews-form__error Оставьте отзыв
                button.button.btn--smaller.reviews__button.reviews-form__btn.text-bold Отправить
        .reviews-popup
            .reviews-popup__inner
                .reviews-popup__text
                    span.reviews-popup__big Спасибо!
                    br
                    | Ваш отзыв принят и&nbsp;отправлен на&nbsp;модерацию!
