.timer.text-bold
    .timer__hours
        span.hours 0
        span.hours 0
    span.timer__dots :
    .timer__minutes
        span.minutes 2
        span.minutes 4
    span.timer__dots :
    .timer__seconds
        span.seconds 2
        span.seconds 0