section.block.uniqueness
  .container
    h2.title.uniqueness__title Уникальность
      span.text-pink
        |  Uni
      span.text-green Herb

    .uniqueness-wrapper
      picture
        source(media='(max-width:479px)' srcset='img/uniqueness-img-mob.png')
        source(srcset="img/uniqueness-img.webp", type="image/webp")
        img.uniqueness__img(src="img/uniqueness-img.png" alt="uniqueness" loading="lazy")
      .uniqueness__text
        p
          span.text-bold Uniherb помогает не только от вредителей
          | , с которыми знаком каждый огородник,
          span.text-bold
            |  но и от болезней
          | , которые вредят культурным растениям.
        p
          span.text-bold Действие Uni Herb длится в три раза дольше обычных средств.
          |  За это время растение избавляется от всех вредителей и микробов, вызывающих болезни, и успевает активизировать защитные функции и повысить иммунитет. Такой эффект предупреждает заболевание растений и возвращение вредителей.
        p Все растения, обработанные этим средством,
          span.text-bold
            |  вырастают крепкими, здоровыми и устойчивыми к внешним опасностям.
