@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(-10px);
  }

  20% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-10px);
  }

  40% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(0);
  }
}
